{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block body_class %}post-page{% endblock body_class %}

{% block title %}{{ config.title }} - {{ page.title }}{% endblock title %}

{% block content %}

{% if page.extra.illustration %}
<div class="post-illustration" style="background-image: url('{{ get_url(path=page.extra.illustration, trailing_slash=false) }}'){% if page.extra.illustration_position %}; background-position: {{ page.extra.illustration_position }}{% endif %}">
  {% if page.extra.photo_credit %}
  <div class="photo-credit">Photo by <a href="{{ page.extra.photo_credit_url }}">{{ page.extra.photo_credit }}</a> on <a href="https://unsplash.com">Unsplash</a></div>
  {% endif %}
</div>
{% endif %}

<div class="post-layout">
  {% if page.toc %}
  <aside class="post-toc" id="post-toc">
    <details open>
      <summary class="post-toc-title">Contents</summary>
      <nav id="TableOfContents">
        <ul>
          {% for h1 in page.toc %}
          <li>
            <a href="{{ h1.permalink | safe }}" class="toc-link">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
              {% for h2 in h1.children %}
              <li>
                <a href="{{ h2.permalink | safe }}" class="toc-link">{{ h2.title }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </nav>
    </details>
  </aside>
  {% endif %}

  <article class="post">
    {{ macros::title(page=page) }}
    <div class="post-content">
      {{ page.content | safe }}
    </div>

    <div class="post-footer">
      {% if page.taxonomies.tags %}
      <div class="post-tags">
        {% for tag in page.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
      {% if page.lower or page.higher %}
      <div class="post-nav">
        {% if page.higher %}
        <a class="previous" href="{{ page.higher.permalink }}">{{ page.higher.title }}</a>
        {% endif %}
        {% if page.lower %}
        <a class="next" href="{{ page.lower.permalink }}">{{ page.lower.title }}</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </article>
</div>

{% endblock content %}
